<html lang="en">
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

<link type="text/css" rel="stylesheet" href="/style.css">
<title>Cars</title>

<body class="bgimg" background="/assets/car_bg.png">
</body>

<div class="content">
    <body>
        <div class="carsbanner">
            <div class="container" margin="100">
                <div class="centered">
                    <div class="distimages";>
                        
                        <img height=100; src="/assets/scoupin.png";>
                        </img>

                        <img src="/assets/cars_wh.svg" width="300" height="100";>
                        </img>

                        <img height=100; src="/assets/bigmoe_leaks.png";>
                        </img>

                    </div>
                </div>
            </div>
        </div>
    </body>

    <div class="featured" margin="5">
        <div class="distimages";>
            <img height=100; width="150"; id="s1"; cursor="pointer"; src="/assets/skull_shifter.png";>
            </img>
            <img height=100; width="150"; id="s2"; cursor="pointer"; src="/assets/skull2.png";>
            </img>
            <img height=100; width="150"; id="s3"; cursor="pointer"; src="/assets/skull3.png";>
        </div>

        <audio id="audio" src="/assets/bone.ogg"></audio>
        <script>
          var audio = document.getElementById("audio");
          var img1 = document.getElementById("s1");
          var img2 = document.getElementById("s2");
          var img3 = document.getElementById("s3");
        
          function play() {
            audio.play();
          }
          
          function stop() {
            audio.pause();
            audio.currentTime = 0;
          }
          
          img1.addEventListener('mouseenter', play);
          img2.addEventListener('mouseenter', play);
          img3.addEventListener('mouseenter', play);

          img1.addEventListener('mouseleave', stop);
          img2.addEventListener('mouseleave', stop);
          img3.addEventListener('mouseleave', stop);

        </script>

    </div>

    <title>Car Zone (couldn't call it autozone)</title>



    <body>
        <br>

        <h1>What do we got?</h1>

        <p>
            We got the rigs, the gems, the lemons! Check 'em!
        </p>

        <table class="Categories" width="100%">
            <tr>
                <th colspan=100%>
                    <h5>Dailys</h3>
                </th>
            </tr>

            <tr>
                <th colspan=100%>
                    <div class="distimages";>
                        {% for post in site.posts %}
                            {% if post.category contains 'Daily' %}
                                <a href="{{ post.url }}">
                                    <img class="zoom2" src="{{ post.car_main_img }}" height=100></img>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </th>
            </tr>

            <!--
            <tr>
                <td><img class="zoom" src=/assets/ic_info.png height=75></td>
                <td>Placeholder</td>
                <td>This is a placeholderThis is a placeholderThis is a placeholder
                    This is a placeholderThis is a placeholderThis is a placeholder
                    This is a placeholderThis is a placeholder</td>
                <td>v0.3</td>
                <td><a href="http://www.google.com"><img class="zoom2" src=/assets/ic_open.png></img></a></td>
            </tr>
            -->

            <!-------------------------- Projects ------------------------------->
            <tr>
                <th colspan=100%>
                    <h4>Projects</h4>
                </th>
            </tr>
            
            <tr>
                <th colspan=100%>
                    <div class="distimages";>
                        {% for post in site.posts %}
                            {% if post.category contains 'Project' %}
                                <a href="{{ post.url }}">
                                    <img class="zoom2" src="{{ post.car_main_img }}" height=100></img>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </th>
            </tr>

            <!--
            <tr>
                <td colspan=100%>None Yet</td>
            </tr>
            -->

            <!------------------------------- Done --------------------------------->
            <tr>
                <th colspan=100%>
                    <h3>Sold</h5>
                </th>
            </tr>
            
            <tr>
                <th colspan=100%>
                    <div class="distimages";>
                        {% for post in site.posts %}
                            {% if post.category contains 'Sold' %}
                                <a href="{{ post.url }}">
                                    <img class="zoom2" src="{{ post.car_main_img }}" height=100></img>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </th>
            </tr>

            <!--class="td2"-->
            <!--
            <tr>
                <td><img class="zoom" src=/assets/ic_info.png height=75></td>
                <td>Placeholder</td>
                <td>This is a placeholderThis is a placeholderThis is a placeholder
                    This is a placeholderThis is a placeholderThis is a placeholder
                    This is a placeholderThis is a placeholder</td>
                <td>v0.3</td>
                <td><a href="http://www.google.com"><img class="zoom2" src=/assets/ic_open.png></img></a></td>
            </tr>
            -->

            <!------------------------------- Dead --------------------------------->
            <tr>
                <th colspan=100%>
                    <h6>Dead</h6>
                </th>
            </tr>

            <tr>
                <th colspan=100%>
                    <div class="distimages";>
                        {% for post in site.posts %}
                            {% if post.category contains 'Dead' %}
                                <a href="{{ post.url }}">
                                    <img class="zoom2" src="{{ post.car_main_img }}" height=100></img>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </th>
            </tr>
            <!--
            <tr>
                <td><img class="zoom" src=/assets/ic_info.png height=75></td>
                <td>Placeholder</td>
                <td>This is a placeholderThis is a placeholderThis is a placeholder
                    This is a placeholderThis is a placeholderThis is a placeholder
                    This is a placeholderThis is a placeholder</td>
                <td>v0.3</td>
                <td><a href="http://www.google.com"><img class="zoom2" src=/assets/ic_open.png></img></a></td>
                
            </tr>
            -->

        </table>
    </body>
</div>

</html>